li.dev-item {
    min-width: 200px;
    width: 100%;
    background: #303030;
    box-shadow: 0 0 14px 0 rgba(0,0,0,.02);
    border-radius: 5px;
    padding: 20px;

    grid-column: 1fr;
}

li.dev-item header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

li.dev-item header img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

li.dev-item header .user-info { margin-left: 10px }

.user-info strong {
    display: block;
    font-size: 16px;
    color: #DDD;
}

.user-info span {
    font-size: 13px;
    color: #999;
}

li.dev-item p {
    color: #DDD;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
}

li.dev-item div.links {
    display: flex;
    justify-content: space-between;
}

li.dev-item a {
    color: #8e4dff;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

li.dev-item a:hover { color: #6e1aff }

li.dev-item button {
    border: 0;
    background-color: transparent;
    font-size: 13px;
    font-weight: bold;
    color: #C00;
    cursor: pointer;
}

li.dev-item button:hover { color: #A00 }