aside form { margin-top: 30px }

aside form .input-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    margin-top: 20px;
}

aside form .input-block + .input-block { margin-top: 20px }

aside form .input-group .input-block { margin-top: 0 }

aside form .input-block label {
    color: #DDD;
    font-size: 13px;
    font-weight: bold;
    display: block;
}

aside form .input-block input {
    width: 100%;
    height: 32px;
    margin-top: 10px;
    padding: 0 15px;
    font-size: 14px;
    color: #DDD;
    background-color: #2a2a2a;
    border: 0;
    border-radius: 4px;
}

aside form button[type=submit] {
    width: 100%;
    border: 0;
    margin-top: 30px;
    background-color: #7d40e7;
    border-radius: 3px;
    padding: 15px 20px;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
    transition: .5s;
}

aside form button[type=submit]:hover {
    background-color: #6931ca;
}