#app {
	padding: 30px;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(50px, 385px);
	gap: 20px;
}

@media (max-width: 900px) {
    #app { grid-template-columns: repeat(2, 1fr) }
}

@media (max-width: 600px) {
    #app { grid-template-columns: 1fr }
}