@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html, body, #root { height: 100% }

body {
    background-color: #2a2a2a;
    -webkit-font-smoothing: antialiased;
}

body, input, button { font-family: Lato, sans-serif }