main { grid-column: 2 / -1 }

main ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    list-style: none;
}

@media (max-width: 900px) {
    main ul { grid-template-columns: 1fr}
}

@media (max-width: 600px) {
    main { grid-column: 1 / -1 }
}

li.dev-item {
    min-width: 200px;
    width: 100%;
    background: #303030;
    box-shadow: 0 0 14px 0 rgba(0,0,0,.02);
    border-radius: 5px;
    padding: 20px;

    grid-column: 1fr;
}

li.dev-item header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

li.dev-item header img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

li.dev-item header .user-info { margin-left: 10px }

.user-info strong {
    display: block;
    font-size: 16px;
    color: #DDD;
}

.user-info span {
    font-size: 13px;
    color: #999;
}

li.dev-item p {
    color: #DDD;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
}

li.dev-item a {
    color: #8e4dff;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

li.dev-item a:hover { color: #5a2ea6 }