aside {
    background-color: #303030;
    box-shadow: 0 0 14px 0 rgba(0,0,0,.02);
    border-radius: 5px;
    padding: 20px;

    grid-column: 1 / 1
}

@media (max-width: 900px) {
    aside { grid-column: 1 / 2 }
}

@media (max-width: 600px) {
    aside { grid-column: 1 / -1 }
}

aside strong {
    font-size: 20px;
    text-align: center;
    display: block;
    color: #DDD;
}